{% extends "base.html" %}

<head>
  <title>customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/style.css') }}">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

{% block title %}
Add projection
{% endblock %}

{% block content %}
<body class="overflow-auto">
  <h1 class="movie_h1_tables">Upcoming reservations</h1>

  {% if future_reservations %}
    <table id="customer_table_today" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Movie Title</th>
          <th scope="col">Screen Number</th>
          <th scope="col">Projection Date</th>
          <th scope="col">Reservation Owner</th>
          <th scope="col">Number of Seats</th>
          <th scope="col">Confirmation Date</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in future_reservations  %}
        <tr>
          <td> {{reservation.ID}}</td>
          <td>{{reservation.movie_title }}</td>
          <td>{{reservation.screen_number}}</td>
          <td>{{reservation.projection_date}}</td>
          <td>{{reservation.reservation_owner}}</td>
          <td>{{reservation.no_of_seats}}</td>
          <td>{{reservation.confirmation_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not future_reservations %}
      <p class="movie_not_available">There are no reservations available for today.</p>
  {% endif %}

  <h1 class="movie_h1_tables">Past reservations</h1>

  {% if past_reservations %}
  <table id="customer_table_future" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Movie Title</th>
        <th scope="col">Screen Number</th>
        <th scope="col">Projection Date</th>
        <th scope="col">Reservation Owner</th>
        <th scope="col">Number of Seats</th>
        <th scope="col">Confirmation Date</th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in past_reservations %}
      <tr>
        <td> {{reservation.ID}}</td>
        <td>{{reservation.movie_title }}</td>
        <td>{{reservation.screen_number}}</td>
        <td>{{reservation.projection_date}}</td>
        <td>{{reservation.reservation_owner}}</td>
        <td>{{reservation.no_of_seats}}</td>
        <td>{{reservation.confirmation_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if not past_reservations %}
    <p class="movie_not_available">There are no reservations registered in the past.</p>
  {% endif %}

</body>

{% endblock %}