{% extends "base.html" %}

<head>
  <title>customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/style.css') }}">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

{% block title %}
Add projection
{% endblock %}

<!-- add function that prints error message once you have two overlapping dates and screens -->


{% block content %}
<body class="overflow-auto">

  <h1 class="movie_h1_tables">Add projections</h1>
  
  <table id="customer_table_today" class="table">
    <thead>
      <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Screen Number</th>
        <th scope="col">Projection Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td> 
            <select id="movie_insert">
            {% for movie in unique_movie_list %}
              <option value="{{movie}}">
                {{movie}}
              </option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select id="screen_insert">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          </td>
          <td>
            <select id="date_insert">
              {% for date in date_list %}
                <option value="{{date}}">
                  {{date}}
                </option>
              {% endfor %}
          </td>
        </tr>
    </tbody>
  </table>

  <h1 class="movie_h1_tables">Delete projections</h1>

  <table id="customer_table_today" class="table">
    <thead>
      <tr>
        <th scope="col">Projection ID</th>
        <th scope="col">Movie Title</th>
        <th scope="col">Screen Number</th>
        <th scope="col">Projection Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for projection in future_projections %}
        <tr>
          <td> {{projection.projection_id}}</td>
          <td>{{projection.movie_title}}</td>
          <td>{{projection.screen_id}}</td>
          <td>{{projection.date}}</td>
          <td><button class="btn btn-dark">delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

</body>


{% endblock %}