{% extends "base.html" %}

<head>
  <title>customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/style.css') }}">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body class="overflow-auto">
  <h1 class="movie_h1_tables">Reservations of the Projection ({{current_projection.id}})</h1>
  <h1 class="movie_h1_tables">Movie Title ({{current_movie.title}})</h1>

  {% if reservations %}
    <table id="customer_table_today" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Movie Title</th>
          <th scope="col">Screen Number</th>
          <th scope="col">Projection Date</th>
          <th scope="col">Reservation Owner</th>
          <th scope="col">Number of Seats</th>
          <th scope="col">Confirmation Date</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations  %}
        <tr>
          <td> {{reservation.ID}}</td>
          <td>{{reservation.movie_title }}</td>
          <td>{{reservation.screen_number}}</td>
          <td>{{reservation.projection_date}}</td>
          <td>{{reservation.reservation_owner}}</td>
          <td>{{reservation.no_of_seats}}</td>
          <td>{{reservation.confirmation_date}}</td>
          <td> <button class="btn btn-dark w-100" onclick="window.location.href = `/reservation/{{reservation.ID}}`">See Reservation details</button></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not reservations %}
      <p class="movie_not_available">There are no reservations available.</p>
  {% endif %}

</body>



{% endblock %}