{% extends "base.html" %}


<head>
  <title>movie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
{% block content %}
<body class="overflow-auto">
    <div class="media">
        <div class="media-body">         
          <h1 class="mt-0">{{movie.title}}  </h1>
          <h2> {{movie.director}} :{{movie.main_cast}}</h2>
          <h3> {{movie.duration}}</h3>
          <p>{{movie.synopsis}}</p>
        </div>
        <img class="align-self-start mr-3 img-fluid" style="width: 13rem;" src="{{movie.img_str}}" alt="Generic placeholder image">
      </div>

    <h1>Todays Projections</h1>

    <table class="table">
      <thead>
        <tr>
         
          <th scope="col">Screen capacity</th>

          <th scope="col">Projection date</th>
          <th scope="col"></th>

          
        </tr>
      </thead>
      <tbody>
        {% for projection in today_projection %}
        <tr>
          
          <td>{{projection.screen_capacity}}</td>
          <td>{{projection.projection_date}}</td>
          <td>
            {% if user.is_authenticated %}
            <form method="POST">
            <div class="input-group mb-3 w-75" method='POST'>
              <input type="number" min="1" max="{{projection.screen_capacity}}" class="form-control" placeholder="Number of seats" id="no_seats" name="no_seats">
              <div class="input-group-append">
                <button class="btn btn-primary"  type="submit">Make reservation</button>
              </div>
            </div>
          </form>
           {% endif %} 
          </td>
          <td>
            {% if not user.is_authenticated %}
            Please login to make reservations
           {% endif %} 
          </td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>

    <h1>Next Projections</h1>

    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Screen capacity</th>

          <th scope="col">Projection date</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
        {% for projection in future_projections %}
        <tr>
          
          <td>{{projection.screen_capacity}}</td>
          <td>{{projection.projection_date}}</td>
          <td>  
            {% if user.is_authenticated %}
            <form method="POST">
            <div class="input-group mb-3 w-75" method='POST'>
              <input type="number" min="1" max="{{projection.screen_capacity}}" class="form-control" placeholder="Number of seats" id="no_seats" name="no_seats">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Make reservation</button>
              </div>
            </div>
          </form>
          {% endif %} 
          </td>
          <td>
            {% if not user.is_authenticated %}
            Please login to make reservations
           {% endif %} 
          </td>
          
        </tr>
        {% endfor %}
      
      </tbody>
    </table>

</body>



{% endblock %}