{% extends "base.html" %}

<head>
  <title>customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/style.css') }}">
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body class="overflow-auto">
  <h1 class="movie_h1_tables">Upcoming reservations</h1>

  {% if future_projections %}
    <table id="customer_table_today" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Movie Title</th>
          <th scope="col">Screen Number</th>
          <th scope="col">Projection Date</th>
          <th scope="col">Reservation Owner</th>
          <th scope="col">Number of Seats</th>
        </tr>
      </thead>
      <tbody>
        {% for projection in future_projections  %}
        <tr>
          <td> {{projection.ID}}</td>
          <td>{{projection.movie_title }}</td>
          <td>{{projection.screen_number}}</td>
          <td>{{projection.projection_date}}</td>
          <td>{{projection.reservation_owner}}</td>
          <td>{{projection.no_of_seats}}</td>
          <td>{{projection.confirmation_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not future_projections %}
      <p class="movie_not_available">There are no projection available.</p>
  {% endif %}



</body>


{% endblock %}